/*Changes of the standard kss-stylesheet*/

.kss-style {
  color: #444;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.kss-style h1 {
  margin: 3px 0 17px 0;
  color: #111;
  line-height: 1.05em;
  font-size: 23px;
  max-width: 60%;
}

.kss-style h2, .kss-style h3, .kss-style h4, .kss-style h5, .kss-style h6 {
  margin: 3px 0 6px 0;
  color: #111;
  line-height: 1.05em;
}

.kss-style p {
  margin: 0 0 12px 0;
}

.kss-style a {
  font-size: 13px;
}

.kss-style h2 {
  font-size: 18px;
}

.kss-style h3 {
  font-size: 16px;
}

.kss-style h4 {
  font-size: 14px;
}

.kss-style h5 {
  font-size: 13px;
}

.kss-style h6 {
  font-size: 12px;
}

.kss-style ul, .kss-style ol {
  margin: 12px 0;
  padding: 0 0 0 24px;
}

.table th, .table td {
  padding: 0.15rem 0.2rem;
  vertical-align: top;
  border-top: 1px solid #b4b4b4;
}

/*additions*/

.well {
  /* font-size: 80%; */
  min-height: 20px;
  padding: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
}

.kss-main.container>.well {
  background-color: transparent;
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15);
}

.well-lg {
  padding: 16px;
  /*border-radius: 6px;*/
}

.well-sm {
  padding: 9px;
  /*border-radius: 6px;*/
}

@media (max-width: 400px) {
  article.container, .well {
    padding-right: 0px;
    padding-left: 0px;
  }
  .well {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.nav-link, .img-link {
  display: inline-block;
  max-width: 100%;
}

.dropdown-menu .is-active {
  font-weight: bold;
  background-color: #ebebd9;
}

.well .row .tile {
  background-color: white;
  /* box-sizing: border-box; */
  outline: 2px solid #777c00;
  /* margin: 3px; */
}

.row.news {
  background-color: #777c00;
  color: white;
}

.row.news .image {
  padding: 10px;
}

.row.news div {
  padding: 10px;
  background-color: transparent;
}

.row.news div h2 {
  font-size: 1.8rem;
}

article h2 {
  font-size: 1.5rem;
}

.themes {
  background-color: white;
  margin-top: 30px;
}

.themes .theme-icons>div {
  margin-bottom: 2em;
  padding: 0 5px;
}

.themes .theme-icons a {
  display: inline-block;
  padding: 3px;
  text-align: center;
  width: 100%;
  color: #42145f;
}

.themes a:link, themes a:visited, themes a:active {
  color: #42145f;
}

.themes .theme-icons a:hover, .themes .theme-icons a:focus {
  box-shadow: 0 0 3pt 2pt #42145f;
}

/* not available links in menu and theme tiles */

.navbar-nav .nav-item a.not-available {
  color: #d6d7b2;
}

.themes .theme-icons a.not-available {
  color: #c6b8cf;
}

.themes .theme-icons a.not-available:hover, .themes .theme-icons a.not-available:focus {
  box-shadow: 0 0 3pt 2pt #c6b8cf;
}

.row.themes>div, .row.map>div {
  padding: 0;
}

.well.right-site {
  padding-top: 0;
  margin-top: 0;
}

.well.right-site .video {
  margin-top: 1.5em;
}
.well.right-site .video h5 {
  margin-bottom: 0;
}

.row.map {
  margin-top: 20px;
  background-color: #ebebd9;
}

/* accessibility */

.keyboardlinks {
  position: absolute;
  height: 0;
  left: 0;
  top: 40px;
}

a.skiplink {
  left: -999999em;
  top: -999999em;
  position: absolute;
  padding: 10px;
  background-color: #fbead9;
  border: 1px solid #e17000;
}

a.skiplink:focus {
  position: static;
  box-shadow: none;
}

select:focus, a:focus {
  /* border: 1px solid #e17000;  */
  box-shadow: 0 0 3pt 2pt #719ECE;
}

/* Spinner */

.fa-spinner {
  margin-left: 48%;
  /* font-size: 3em; */
}

.fa-spinner::before {
  /* display: inline-block; */
  font-family: FontAwesome;
  font-size: 3em;
  /* text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.fa-spinner.icon-3s::before {
  font-size: 3em;
}

/* Click icon */

.click-map-icon-container {
  position: relative;
}

.click-map-icon {
  width: 5%;
  height: 60px;
  position: absolute;
  bottom: 60px;
  display: none;
  fill: #01689b;
}

/*Highcharts table settings */

.highcharts-menu hr {
  margin: .5em;
}

.highcharts-data-table {
  padding-top: 1em;
  overflow-x: auto;
}

.highcharts-data-table th {
  word-break: break-word;
}

.highcharts-data-table button.close {
  font-size: 1.3em;
  border: 1px silver solid;
  float: right;
  padding: 1px;
  margin-right: 4px;
}

.highcharts-data-table caption {
  margin-bottom: 5px;
  font-family: sans-serif;
  caption-side: initial;
  color: black;
}

.highcharts-data-table table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
  min-width: 100%;
  margin-top: 10px;
}

.highcharts-data-table td, .highcharts-data-table th {
  font-family: sans-serif;
  font-size: 10pt;
  border: 1px solid silver;
  padding: 0.3em;
}

.highcharts-data-table td.number, .highcharts-data-table th.number {
  text-align: right;
}

.highcharts-data-table tr:nth-child(even), .highcharts-data-table thead tr {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #eff;
}

/* Map header and Switches */

.map-header>* {
  float: left;
  width: 50%;
}

@media (max-width: 400px) {
  .map-header>h1 {
    font-size: 1.2em;
  }
  .map-header .select {
    width: 100%;
  }
}

div.map-switches {
  float: right;
  clear: both;
  padding: .2em;
  border: 1px solid #777c00;
  border-radius: 5px;
  position: relative;
  z-index: 100;
}

div.map-switches label {
  margin: 0;
  width: 5em;
}

.map-switches>div:first-child .select {
  margin-bottom: 3px;
}

/* main and drilldown content styling */

div.main-content {
  display: block;
}

div.drilldown-content {
  display: none;
}

/* Detail table styling */

table.detail-data {
  margin-top: 1rem;
  margin-bottom: 0;
}

th.detail-level, span.first-cap {
  text-transform: capitalize;
}

/* table.detail-data thead th {
  min-width: 4em;
} */

table.detail-data col {
  width: 6em;
}

table.detail-data col:first-child {
  width: auto;
  max-width: 10em;
}

table.detail-data td {
  text-align: right;
  /* min-width: 4em; */
}

.detail-data.meta tr th:first-child {
  width: 8em;
}

.detail-data.meta tr td {
  text-align: left;
  font-weight: 500;
}

.detail-data td.local {
  font-weight: 500;
}

table.detail-data th:first-child {
  word-break: break-word;
  -ms-word-break: break-all;
}

.detail-data tfoot td {
  text-align: left;
  padding-top: 1em;
}

/* table.detail-data thead th {
  position: relative;
} */

/* table.detail-data thead th div {
  width: 18em;
  position: absolute;
  left: 0;
  text-align: left;
  padding: 5px;
  z-index: 100;
  border-top: 2px solid white;
} */

table.detail-data tr.group-header th:first-child {
  background-color: #777c00;
  color: white;
}

/* table.detail-data borders and background color */

table.detail-data {
  border: 1px solid white;
  border-collapse: separate;
}

table.detail-data tr.group-header {
  border-top: 1px solid white;
}

table.detail-data th, table.detail-data td {
  border: 1px solid white;
}

table.detail-data .local {
  background-color: #d6d7b2;
  border-top-color: #d6d7b2;
  border-bottom-color: #d6d7b2;
}

table.detail-data .regional {
  background-color: #ebebd9;
  border-top-color: #ebebd9;
  border-bottom-color: #ebebd9;
}

table.detail-data .global {
  background-color: #f5f5f5;
  border-top-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
}

/* Highlight on hover */

table.detail-data tbody tr:not(.group-header):hover, table.detail-data tbody tr:not(.group-header):hover th {
  background-color: #ebebd9;
}

table.detail-data tbody tr:not(.group-header):hover th, table.detail-data tbody tr:not(.group-header):hover td {
  border-top-color: #01689b;
  border-bottom-color: #01689b;
}

/**
 * Initialiazing a `Voetnoten` counter on the wrapper
 */

article {
  counter-reset: voetnoten;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */

a[aria-describedby="voetnoot-label"], a[aria-describedby="voetnoot-label"]:visited, a[aria-describedby="voetnoot-label"]:active {
  counter-increment: voetnoten;
  /* 1 */
  text-decoration: none;
  /* 2 */
  color: inherit;
  /* 2 */
  cursor: default;
  /* 2 */
  outline: none;
  /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */

a[aria-describedby="voetnoot-label"]::after {
  content: '[' counter(voetnoten) ']';
  /* 1 */
  vertical-align: super;
  /* 2 */
  font-size: 0.7em;
  /* 3 */
  margin-left: 2px;
  /* 4 */
  color: blue;
  /* 5 */
  text-decoration: underline;
  /* 5 */
  cursor: pointer;
  /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */

a[aria-describedby="voetnoot-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

footer.footnotes {
  margin-top: 2em;
  border-top: 1px solid #4e4e4e;
  font-size: 0.8rem;
  line-height: 1.1;
}

/* footer.footnotes :target {
  background: orange;
} */

footer.footnotes ol {
  margin-top: .5em;
  padding-left: .5em;
}

footer.footnotes ol li:before {
  margin-right: 5px;
  width: 15px;
}

/* Read more state
https://codepen.io/Idered/pen/AeBgF*/

/*.read-more-wrap {
	min-height: 318px;
}*/

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .5s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
  content: 'Lees verder';
}

.read-more-state:checked~.read-more-trigger:before {
  content: 'Inklappen';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

/*Pure CSS Select
https://codepen.io/raubaca/pen/VejpQP*/

/* Reset Select */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  /*appearance: none;*/
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  background-image: none;
}

/* Custom Select */

.select {
  position: relative;
  display: inline-block;
  width: 23em;
  max-width: 100%;
  /*height: 3em;
  line-height: 3;*/
  font-size: .85em;
  background: #ffffff;
  /* overflow: hidden; */
  border-radius: .25em;
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #000000;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* Arrow */

.select::after {
  content: '\25BC';
  position: absolute;
  color: #777c00;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #d6d7b2;
  pointer-events: none;
}

/* Transition */

.select:hover::after {
  color: #e17000;
}

.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* SMAP specific */

optgroup, option {
  color: black;
  background-color: #ebebd9;
}

/* JZoJP */

h1 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

#header {
  position: relative;
}

#header .beta-message {
  position: absolute;
  left: 60%;
  bottom: 0;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1;
  padding-right: 10px;
}

.navbar-titlebar h1 {
  font-size: 1.3rem;
  font-weight: unset;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  margin-bottom: unset;
}

.select.float-right {
  float: right;
}

/* Sticky Regio select dropdowns */

div#regioSelect .well {
  background-color: #777c00;
  color: white;
}

div#regioSelect select {
  box-shadow: 0 0 3pt 2pt #777c00;
}

div#regioSelect.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

div#regioSelect.sticky .well {
  margin-top: 0;
  background-color: #d6d7b2;
  box-shadow: 0 0 3pt 2pt #777c00;
  color: #777c00;
}

div#regioSelect.sticky+div {
  margin-top: 90px;
}

/* purple variant
$purple:                    #42145f !default;
$purple-light:              #c6b8cf !default;
$purple-lightest:           #e3dce7 !default;
 */

div#regioSelect.purple .well {
  background-color: #42145f;
  color: white;
}

div#regioSelect.purple select {
  box-shadow: 0 0 3pt 2pt #42145f;
  color: #42145f;
}

div#regioSelect.purple.sticky .well {
  background-color: #c6b8cf;
  box-shadow: 0 0 3pt 2pt #42145f;
  color: #42145f;
}

div#regioSelect.purple .select::after {
  color: #42145f;
  background: #e3dce7;
}

article table {
  border-collapse: collapse;
}

article table caption {
  font-weight: bold;
  font-size: 1.1em;
  color: unset;
  text-align: left;
  caption-side: unset;
}

article table, article table th, article table td {
  border: 1px solid #c6b8cf;
}

article table th, article table td {
  padding: .2em;
  vertical-align: top;
}

article table th p, article table td p {
  margin-bottom: 0;
}

article em[title] {
  cursor: help;
}

footer.footer {
  margin-top: 2em;
}

/* Highcharts motion */

#play-controls {
  text-align: center;
  width: 100%;
  padding: 5px 0 0 0;
  position: relative;
  margin-top: 20px;
}

#play-controls * {
  display: inline-block;
  vertical-align: middle;
}

#play-pause-button {
  color: #01689B;
  border: 2px solid #01689B;
  background-color: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

#play-range {
  margin: 2.5%;
  width: 70%;
}

#play-output {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  position: absolute;
  top: -8px;
  left: 50%;
}