div.ranglijst.wrapper {
  float: left;
  margin-bottom: 4em;
}

p.ranglijst.help-text {
  font-style: italic;
  font-size: smaller;
  color: #696969;
}

div.ranglijst .chart-container {
  display: block;
  float: left !important;
  /* width: 33%; */
  min-width: 280px;
}

/* overflow: visible for SVG */
div.ranglijst .chart-container .highcharts-container, div.ranglijst .chart-container .highcharts-container svg {
  overflow: visible !important;
  z-index: 100 !important;
}

/* Table */
div.ranglijst .info-table {
  display: block;
  float: left !important;
  width: 34%;
  min-width: 280px;
  color: #42145f;
}

div.ranglijst .info-table table, div.ranglijst .highcharts-tooltip table {
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
}

div.ranglijst .info-table table caption {
  line-height: 1.1;
  padding-bottom: .5em;
}

div.ranglijst .info-table table tr.highlight {
  background-color: #e3dce7;
  font-weight: bold;
}

div.ranglijst .info-table table tr, div.ranglijst .highcharts-tooltip table tr {
  background: none;
}

div.ranglijst .info-table table tr>*, div.ranglijst .highcharts-tooltip table tr>* {
  padding: 2px 5px;
  border-bottom: 1px solid #e3dce7;
  line-height: 1;
}

div.ranglijst .info-table table thead th {
  background-color: #42145f;
  color: #fff;
  border: none;
}

div.ranglijst .info-table table tbody {
  border: 1px solid #e3dce7;
}

div.ranglijst .info-table table tbody th {
  text-align: left;
  /* word-break: break-word; */
  background-color: #c6b8cf;
  color: #42145f;
}

div.ranglijst .info-table table tbody td {
  text-align: center;
}

/* Tooltip */
div.ranglijst .highcharts-tooltip {
  width: 300px;
}

div.ranglijst .highcharts-tooltip span {
  z-index: 100 !important;
  color: red;
  background: white;
  border: 2px solid #42145f;
  padding: 0.2em;
  border-radius: 5px;
}


/* datalabels */
.highcharts-data-labels div span {
  z-index: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 1.1em; */
  white-space: nowrap !important;
  /* border: 1px solid red; */
}
