div.ranglijst.wrapper {
  float: left;
  margin-bottom: 4em;
}

div.ranglijst .chart-container {
  display: inline-block;
  width: 32%;
  min-width: 296px;
}

div.ranglijst .info-table {
  display: inline-block;
  width: 30%;
  min-width: 280px;
}

div.ranglijst .info-table table, div.ranglijst .highcharts-tooltip table {
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
}

div.ranglijst .info-table table caption {
  line-height: 1.1;
  padding-bottom: .5em;
}

div.ranglijst .info-table table tr.highlight {
  background-color: #e5f0f9;
  font-weight: bold;
}

div.ranglijst .info-table table tr, div.ranglijst .highcharts-tooltip table tr {
  background: none;
}

div.ranglijst .info-table table tr>*, div.ranglijst .highcharts-tooltip table tr>* {
  padding: 2px 5px;
  border: 1px solid silver;
  line-height: 1;
}

div.ranglijst .info-table table tbody th {
  text-align: left;
  word-break: break-word;
}

div.ranglijst .info-table table td.number {
  text-align: center;
  width: 3em;
}

div.ranglijst .highcharts-tooltip table thead th {
  text-align: center;
}

div.ranglijst .highcharts-tooltip table td.number {
  text-align: right;
}

p.ranglijst.help-text {
  font-style: italic;
  font-size: smaller;
  color: #696969;
}